@*model BlogumUI.Models.MakaleListViewModel*@
@model BlogWebUI.Models.HakkimdaModel
@{
    ViewData["Title"] = "Hakkimda";
}
<div class="container-fluid">
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        Ben
        <small>Kimim?</small>
    </h1>
    <hr />
    <div class="row">
        @{
            //foreach (var item in )
            //{

            //}
            var kulFoto = (from foto in Model.SuperAdmin where foto.KullaniciId == 1 select foto.FotoUrl).ToList();
            var kulAdi = (from kuladi in Model.SuperAdmin where kuladi.KullaniciId == 1 select kuladi.KulAdSoyad).ToList();

            <div class="col-md-3 " style=" width:300px;height:300px; text-align:center">
                <img style="border-radius:180px; width:256px;height:256px;" src="~/images/KulFoto/@kulFoto.FirstOrDefault()" /><br />
                <div class="" style="text-align:center;margin-top:5px; ">
                    <h4>@kulAdi.FirstOrDefault()</h4>
                    <hr />
                </div>


            </div>
            <div class="col-8">
                <div class="row" style="margin-top:50px;">
                    <div class="col-3">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <a class="nav-link active " id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Deneyim</a>
                            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Eğitim</a>
                            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Beceriler</a>
                            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Hobiler</a>
                            <a class="nav-link" id="v-pills-oduller-tab" data-toggle="pill" href="#v-pills-oduller" role="tab" aria-controls="v-pills-oduller" aria-selected="false">Sertifikalar&Ödüller</a>

                        </div>
                    </div>
                    @foreach (var item in Model.Hakkimda)
                    {


                        <div class="col-9" style="height:400px;">
                            <div class="tab-content" id="v-pills-tabContent">
                                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">@item.Deneyim</div>
                                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">@item.Egitim</div>
                                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">@item.Beceriler</div>
                                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">@item.Hobiler</div>
                                <div class="tab-pane fade" id="v-pills-oduller" role="tabpanel" aria-labelledby="v-pills-oduller-tab">@item.Sertifika_Oduller</div>

                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>

</div>
