@model BlogWebUI.Models.MakaleListViewModel
@{
    ViewData["Title"] = "Makale Detayı";
}
<body>

    <!-- Page Content -->
    <div class="container kartim">
        @foreach (var item in Model.Makaleler)
        {
           
                var barKategori = (from i in Model.Kategoriler where  i.KategoriId == item.KategoriId select i.KategoriAdi).ToList();
   <br>
        <ol class="breadcrumb  "  >
            <li class="breadcrumb-item">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                   <i class="fa fa-home fa-lg" aria-hidden="true"></i>
                    Home
                </a>
            </li>
            <li class="breadcrumb-item active">
                <i class="fa fa-folder-open" aria-hidden="true"></i>
                @barKategori.FirstOrDefault()
            </li>
        </ol>
                 
        }
        <div class="row">
            @{ foreach (var item in Model.Makaleler)
                {
                    var kulad = (from i in Model.Kullanicilar where i.KullaniciId==item.KullaniciId select i.KulAdSoyad).ToList();
                    var kulFoto = (from foto in Model.Kullanicilar where foto.KullaniciId == item.KullaniciId select foto.FotoUrl).ToList();

                    <!-- Post Content Column -->
            <div class="col-lg-8">
                <h1 class="card-title">@item.MakaleBaslik </h1>
                <div class="">
                    <span style="float:left; "><img class="rounded-circle" src="~/images/KulFoto/@kulFoto.FirstOrDefault()" width="48" height="48"  /></span>
                    <div style="text-align:left;vertical-align:baseline;">
                        <span class="text-lg-center text-xl-center" style="font-size:14px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin:0px;padding:0px;vertical-align:bottom;margin-left:10px;">@kulad.FirstOrDefault()</span><br />
                        <span style="font-size:10px;font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif; margin:0px;padding:0;text-align:start; vertical-align:super; margin-left:10px;">
                           <i class="fa fa-calendar fa-lg" aria-hidden="true"></i>
                            @item.MakaleYayinlanmaTarihi
                        </span>
                        <span class="float-right text-md-right sosyalbutonlar">
                            <a href="https://twitter.com/talhayksk" target="_blank" class="twitter"><i class="fa fa-twitter fa-stack-lg" aria-hidden="true"></i></a>
                            <a href="https://www.linkedin.com/in/talha-yüksek-67b761171/" target="_blank" class="linkedin"><i class="fa fa-linkedin fa-stack-lg" aria-hidden="true"></i></a>
                            <a href="https://www.youtube.com/channel/UC3v-LG-bqlCtwLEs0pa0w0Q?view_as=subscriber" target="_blank" class="youtube"><i class="fa fa-youtube fa-stack-lg" aria-hidden="true"></i></a>
                            <a href="https://github.com/TLHYKSK46" target="_blank" class="github"><i class="fa fa-github fa-stack-lg" aria-hidden="true"></i></a>
                        
                        </span>

                    </div>

                </div>

<hr>
                <!-- Preview Image -->
                @if (item.MakaleFotoUrl != null)
                {
                    <img class="img-fluid rounded" src="~/images/MakaleFoto/@item.MakaleFotoUrl" width="750" height="300" alt="">

                }
                else
                {
                    <img src="~/images/MakaleFoto/resimyokaspcore.png" class="img-fluid rounded " style="width:750px;height:300px; " />
                    //<img class="img-fluid rounded" src="http://placehold.it/750x300" alt="">
                }
                <hr>
                <!-- Post Content -->
                <p class="font-weight-normal" style="text-align: justify;">

                    @item.MakaleIcerik


                </p>

                <hr>

                <div class="" style=" padding:10px;">
                    @using (Html.BeginForm("YorumEkle", "Home", new { enctype = "multipart/form-data" }, FormMethod.Post))
                    {
                        <!-- Comments Form -->

                        <div class="card my-4 rounded  bg-light no-padding ">
                            <h5 class="card-header rounded  bg-light  ">Yorum Yaz:</h5>
                            <div class="card-body">
                                <form>
                                    <div class="form-group">

                                        <span class="te" style="grid-row:3;  width:100px;">@Html.TextArea("Icerik", null, new { @class = "form-control" })</span>
                                        @Html.Hidden("MakaleId", Model.SeciliMakaleId)
                                        @*@Html.Hidden("KullaniciId",Model.KullaniciId)*@
                                        @*<textarea class="form-control" rows="3">@Html.TextArea("textAreaYorum")</textarea>*@
                                    </div>

                                    <button type="submit" class="btn btn-danger">Gönder</button>
                                </form>
                            </div>
                        </div>
                    }

                    @foreach (var itemYorum in Model.Yorumlar)
                    {
                        <!-- Single Comment -->
                        if (itemYorum.MakaleId.Equals(item.MakaleId))
                        {

                            var kuladYorum = (from i in Model.Kullanicilar where i.KullaniciId == itemYorum.KullaniciId select i.KulAdSoyad).ToList();
                            var kulFotoYrm = (from i in Model.Kullanicilar where i.KullaniciId == itemYorum.KullaniciId select i.FotoUrl).ToList();
                <div class="media mb-6" style="padding:0px;margin:0px;">
                   
                    @{ if (kulFotoYrm != null &&kuladYorum !=null)
                        {
                            <img class="rounded-circle" src="~/images/KulFoto/@kulFotoYrm.FirstOrDefault()" width="50" height="50" style="margin:10px; " />
                        }
                        else
                        {
                            <img class="rounded-circle" src="~/images/KulFoto/user-50.jpg" width="50" height="50" style="margin:10px;" />
                        }
                    }

                    <div class="media-body">
                        <h6 class="mt-1">
                            @kuladYorum.FirstOrDefault()
                            <p class="float-right" style="font-size:12px;font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif">  @itemYorum.YorumTarihi</p>
                        </h6>
                        @*<span class="float-right" style="font-size:10px;font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif">

            </span><br />*@
                        <span style="font-size:14px;font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;">
                            @itemYorum.Icerik
                        </span>
                        <hr />
                    </div>
                    <hr />
                </div>
                        }
                    }
                </div>
    <!-- Comment with nested comments -->
    <div class="media mb-4">
        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
        <div class="media-body">
            <h5 class="mt-0">Commenter Name</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

            <div class="media mt-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                    <h5 class="mt-0">Commenter Name</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </div>

            <div class="media mt-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                    <h5 class="mt-0">Commenter Name</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </div>

        </div>
    </div>


</div>


                <!-- Sidebar Widgets Column -->
                <div class="col-md-4">

                    <!-- Search Widget -->
                    <div class="card mb-4">
                        <h5 class="card-header">Arama</h5>
                        <div class="card-body">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Buraya yazınız...">
                                <span class="input-group-append">
                                    <button class="btn btn-danger" type="button">
                                        <img src="~/images/icons-1.0.0-alpha5/icons/search.svg" />
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- Categories Widget -->
                    @await Component.InvokeAsync("KategoriList")
                   <!-- Side Widget -->
                    <div class="card my-4">
                        <h5 class="card-header">Side Widget</h5>
                        <div class="card-body">
                            You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
                        </div>
                    </div>

                </div>
                }


                }
            </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</body>

